$mainFont: 'Montserrat';
$secondFont: 'Open Sans';
$background: #E5E5E5;;


body,
main {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: $background;

}


.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 243px;
    height: 116px;
    width: 100vw;
    margin-bottom: 3px;

    background: white;
    position: fixed;
    z-index: 2500;

    &-logo {
        margin-left: 166px;
    }

    &-nav {
        display: flex;
        justify-content: center;
        gap: 40px;

        a {
            text-decoration: none;
            font-family: $mainFont;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #5C6A79;

        }

    }
}



.header-media {
    display: flex;
    justify-content: center;
    gap: 42px;
    position: relative;

    .inCart {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #FF353A;
        color: $background;
        font-size: 10px;
        text-align: center;
        position: absolute;
        z-index: 4000;
        left: 113px;
        top: 5px;
        display:none;

    }
}

.slider {
    position: relative;
    padding-left: 160px;

    &__images {
        position: relative;
        width: 1120px;
        height: 702px;

        .image {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 800ms ease;
        }

        .image.active {
            opacity: 1;
        }
    }
}


.slider__dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;

    &-item {
        width: 12px;
        height: 12px;
        background: #EFEEF6;
        border-radius: 50%;
        margin: 5px 5px;
        cursor: pointer;
        transition: background 0.4s ease;

        &:hover,
        &.active {
            background: #9E98DC;
        }
    }
}




.changeBook {
    width: 149px;
    height: 204px;
    background: #9E98DC;
    text-align: center;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1C2A39;
    position: absolute;
    z-index: 23;
    top: 220px;
    left: 1200px;
    -webkit-box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);

    &-two {
        width: 109px;
        height: 66px;
        text-align: start;
        padding: 102px 20px 36px 20px;

    }
}



.topBooks {
    width: 137px;
    height: 273px;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1C2A39;
    background: #FF8FE6;
    position: absolute;
    z-index: 25;
    top: 500px;
    left: 1300px;
    -webkit-box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 17px 21px 29px 0px rgba(34, 60, 80, 0.2);

    &-two {
        width: 69px;
        height: 88px;
        text-align: start;
        padding: 149px 47px 36px 21px;
    }
}

.arrow {
    background-color: transparent;
    cursor: pointer;
}

.book-list {
    width: 416px;
    height: 710px;
    background: #EFEEF6;
    text-align: center;
    position: relative;

    ul {
        padding-top: 45px;
        padding-left: 160px;
        font-family: $mainFont;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #5C6A79;


        &span {
            color: #5C6A79;

            &.pressed{
                color: #1C2A39;
            }

        }

        li {

            list-style-type: none;
            text-align: start;
            margin-bottom: 23px;
            cursor: pointer;


            &.pressed {
                list-style-type: initial;
                color: #756AD3;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                padding-right: 60px;

            }
        }
    }

}

.books {
    display: flex;
    flex-direction: row;
    margin-top: 105px;
}

.description {
    font-size: 16px;
    color: #1C2A39;
    font-family: $mainFont;
    font-weight: 700;
}

.result {
    position: absolute;
    z-index: 1234;
    margin-left: 350px;
    margin-top: 60px;
}

.output {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;




    .card {
        display: flex;
        flex-direction: row;
        width: 450px;
        height: 307px;

        &-image {
            width: 212px;
            height: 307px;
            -webkit-box-shadow: -2px 17px 15px -5px rgba(0,0,0,0.62); 
            box-shadow: -2px 17px 15px -5px rgba(0,0,0,0.62);

        }

        &-author {
            font-size: 10px;
            color: #5C6A79;
            font-family: $secondFont;
            margin-bottom: 4px;
            margin-top: 50px;
        }

        &-title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #1C2A39;
            width: 176px;
            height: 20px;
            overflow: hidden;
            margin-bottom: 4px;

        }

        &-description {
            font-size: 10px;
            width: 176px;
            color: #5C6A79;
            font-family: $secondFont;
            margin: 0;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        &-rating {
            font-size: 10px;
            color: #5C6A79;
            font-family: $secondFont;
            width: 180px;
            margin-bottom: 16px;

        }


        &-price {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;

            color: #1C2A39;

        }

    }

}

.button {
    width: 176px;
    height: 45px;
    text-align: center;
    border: 1px solid #4C3DB2;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
    background:$background;
    cursor: pointer;
}

.minus{
    border: 1px solid #EEEDF5;
    color: #5C6A79;
}

.moreBooks {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 50px;
    display: none;
    cursor: pointer;

}


.stars-outer {
    display: inline-block;
    position: relative;
    font-family: 'FontAwesome';
    height: 12px;
    margin-right: 6px;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}